<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>ohnowho 需要访问您的位置，以便在笔记中记录当前位置</string>
	</dict>
</plist>
